@page
@model InternetAssignment.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

 <section class="about_us_section">
    <div class="text">
     <div class="about_company">
        <h1>About Сreator:</h1>
        <p>Artem Kapustin, T0322864 Web Developer (Beginner)</p>
      </div>
      <div class="about_company">
        <h1>About our company:</h1>
        <p>We are a company selling graphics cards from manufacturers such as Nvidia and AMD.
        </p>
      </div>
      <div class="main_idea">
        <h1>The main idea:</h1>
        <p>If you want to improve your computer, we will help you to select a video card and possibly other components depending on the configuration of your computer.
        </p>
      </div>
      <div class="guarantee">
        <h1>100% Guarantee:</h1>
        <p>All our video cards are 100% original from official manufacturers.
        </p>
      </div>
      <div class="delivery">
        <h1>Delivery:</h1>
        <p>We deliver your orders using only the best postal companies in the UK, so you will receive your order safely and most importantly, quickly.
        </p>
      </div>
    </div>  

  </section>