@page
@model InternetAssignment.Pages.ContactUsModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<section class="contact_us_section">
    <div class="contact_us_block">
    <h1>Our phone number:</h1>
    <p> +447878498*2*</p>
    <h1>Our Email</h1>
    <p> graphic_dream@gmail.com</p>
    <h1>Our address:</h1>
    <p>Clifton Campus, NTU, Clifton Ln, Nottingham NG11 8PT</p>
    </div>    
    <iframe class="map_block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927.6579783003964!2d-1.1837788019746374!3d52.91158371315689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c3bdb56fd1df%3A0x70bb9cc0c5ab1157!2sNew%20Hall!5e0!3m2!1sru!2suk!4v1673219597779!5m2!1sru!2suk" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
  </section>